.root {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  padding: var(--mantine-spacing-xs);
  border-right: 1px solid var(--mantine-color-gray-8);
}
.link {
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: flex-start;
  color: var(--mantine-color-gray-6);
  background: transparent;
}
.link:hover {
  background: var(--mantine-primary-color-light-hover);
}
